In [1]:
import pandas as pd

In [2]:
player_data = pd.read_excel('Files\player_data.xlsx')
players = pd.read_excel('Files\Players.xlsx')
Seasons_Stats = pd.read_excel('Files\Seasons_Stats.xlsx')

In [3]:
player_data.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,2023-06-10,240.0,1968-06-24,Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,2023-06-09,235.0,1946-04-07,Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,2023-07-02,225.0,1947-04-16,"University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,2023-06-01,162.0,1969-03-09,Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,2023-06-06,223.0,1974-11-03,San Jose State University

In [4]:
players.head()

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [5]:
Seasons_Stats.head()

,Year,Player,Pos,Age,Tm,G,TS%,FTr,OWS,DWS,...,2P,2PA,2P%,eFG%,FT,FTA,FT%,AST,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,0.368,0.467,-0.1,3.6,...,144.0,516.0,0.279,0.279,170.0,241.0,0.705,176.0,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,0.435,0.387,1.6,0.6,...,102.0,274.0,0.372,0.372,75.0,106.0,0.708,109.0,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,0.394,0.259,0.9,2.8,...,174.0,499.0,0.349,0.349,90.0,129.0,0.698,140.0,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,0.312,0.395,-0.5,-0.1,...,22.0,86.0,0.256,0.256,19.0,34.0,0.559,20.0,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,0.308,0.378,-0.5,-0.1,...,21.0,82.0,0.256,0.256,17.0,31.0,0.548,20.0,27.0,59.0

In [8]:
filter1_pd = Seasons_Stats["Year"].between(1970,1985,inclusive = True)
Seasons_Stats[filter1_pd]

C:\Users\Fatima Saab\AppData\Local\Temp\ipykernel_19064\638818852.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  filter1_pd = Seasons_Stats["Year"].between(1970,1985,inclusive = True)

,Year,Player,Pos,Age,Tm,G,TS%,FTr,OWS,DWS,...,2P,2PA,2P%,eFG%,FT,FTA,FT%,AST,PF,PTS
2867,1970.0,Zaid Abdul-Aziz,PF,23.0,MIL,80.0,0.473,0.339,0.0,2.0,...,237.0,546.0,0.434,0.434,119.0,185.0,0.643,62.0,167.0,593.0
2868,1970.0,Kareem Abdul-Jabbar*,C,22.0,MIL,82.0,0.552,0.410,9.3,4.5,...,938.0,1810.0,0.518,0.518,485.0,743.0,0.653,337.0,283.0,2361.0
2869,1970.0,Rick Adelman,PG,23.0,SDR,35.0,0.453,0.368,-0.2,0.9,...,96.0,247.0,0.389,0.389,68.0,91.0,0.747,113.0,90.0,260.0
2870,1970.0,Lucius Allen,PG,22.0,SEA,81.0,0.495,0.360,1.2,1.0,...,306.0,692.0,0.442,0.442,182.0,249.0,0.731,342.0,201.0,794.0
2871,1970.0,Wally Anderzunas,SF,24.0,CIN,44.0,0.427,0.277,-0.4,0.3,...,65.0,166.0,0.392,0.392,29.0,46.0,0.630,9.0,47.0,159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7916,1985.0,Mike Woodson,SG,26.0,KCK,78.0,0.548,0.309,3.0,1.2,...,525.0,1047.0,0.501,0.499,264.0,330.0,0.800,143.0,216.0,1329.0
7917,1985.0,Orlando Woolridge,SF,25.0,CHI,77.0,0.608,0.425,7.4,1.6,...,679.0,1220.0,0.557,0.554,409.0,521.0,0.785,135.0,185.0,1767.0
7918,1985.0,James Worthy*,SF,23.0,LAL,80.0,0.601,0.230,4.6,2.9,...,610.0,1059.0,0.576,0.572,190.0,245.0,0.776,201.0,196.0,1410.0
7919,1985.0,Danny Young,PG,22.0,SEA,3.0,0.200,0.000,-0.2,0.0,...,2.0,9.0,0.222,0.200,0.0,0.0,NaN,2.0,2.0,4.0
7920,1985.0,Michael Young,SF,24.0,PHO,2.0,0.333,0.000,0.0,0.0,...,2.0,5.0,0.400,0.333,0.0,0.0,NaN,0.0,0.0,4.0

In [9]:
filter1_pd.describe()

count     24691
unique        2
top       False
freq      19652
Name: Year, dtype: object

In [10]:
Seasons_Stats[filter1_pd].describe()

,Year,Age,G,TS%,FTr,OWS,DWS,WS,FG,FGA,...,2P,2PA,2P%,eFG%,FT,FTA,FT%,AST,PF,PTS
count,5039.000000,5039.000000,5039.000000,5029.000000,5027.000000,5039.000000,5039.000000,5039.000000,5039.000000,5039.000000,...,5039.000000,5039.000000,5027.000000,5027.000000,5039.000000,5039.000000,4920.000000,5039.000000,5039.000000,5039.000000
mean,1978.241119,26.134749,56.422901,0.493084,0.323760,1.374102,1.387180,2.762373,242.705894,514.625124,...,241.173050,508.763445,0.450587,0.449393,120.145664,159.629093,0.726012,139.428061,140.572534,607.090296
std,4.445561,3.308341,26.235285,0.081347,0.188138,2.169122,1.321665,3.108321,213.334391,436.648332,...,212.332986,432.962628,0.084293,0.084035,117.179168,150.063951,0.124991,142.511231,91.788170,535.907589
min,1970.000000,18.000000,1.000000,0.000000,0.000000,-2.500000,-0.400000,-2.100000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1975.000000,24.000000,36.000000,0.464000,0.222000,0.000000,0.300000,0.300000,63.000000,145.000000,...,62.000000,142.000000,0.421000,0.421000,28.000000,41.000000,0.667000,31.000000,57.000000,159.000000
50%,1979.000000,25.000000,67.000000,0.503000,0.296000,0.600000,1.000000,1.800000,189.000000,409.000000,...,188.000000,403.000000,0.460000,0.458000,86.000000,118.000000,0.747000,96.000000,141.000000,471.000000
75%,1982.000000,28.000000,79.000000,0.536000,0.389000,2.200000,2.100000,4.300000,371.000000,783.000000,...,369.000000,774.500000,0.494000,0.492000,177.500000,234.500000,0.806000,204.500000,214.000000,923.500000
max,1985.000000,41.000000,87.000000,1.042000,4.000000,18.300000,9.900000,25.400000,1159.000000,2217.000000,...,1159.000000,2217.000000,1.000000,1.000000,813.000000,946.000000,1.000000,1123.000000,386.000000,2831.000000

In [15]:
Seasons_Stats[filter1_pd]["PTS"].max()

2831.0